{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/insights.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap"
            rel="stylesheet"
        />
        <title>Insight</title>
    </head>
    <body>
        <div class="login">
            <img src="{% static 'img/login-bg.jpg' %}" alt="image" class="login__bg" />

            <form action="insight" class="signup__form">
                <img
                    src="{% static 'img/login-invie-logo.png' %}"
                    alt="image"
                    class="app__logo"
                />

                <h1 class="login__title">INSIGHT</h1>
                <div class="signup__inputs">
                    <div class="signup__column">
                        <div class="signup__box">
                            <div class="outer">
                                <div class="dot"></div>
                                <div class="card">
                                    <div class="ray"></div>
                                    <div class="text">{{result1.0}}</div>
                                    <div>SCALABILITY</div>
                                    <div class="line topl"></div>
                                    <div class="line leftl"></div>
                                    <div class="line bottoml"></div>
                                    <div class="line rightl"></div>
                                </div>
                            </div>
                        </div>

                        <div class="signup__box">
                            <div class="outer">
                                <div class="dot"></div>
                                <div class="card">
                                    <div class="ray"></div>
                                    <div class="text">{{result1.1}}</div>
                                    <div>MARKET SIZE</div>
                                    <div class="line topl"></div>
                                    <div class="line leftl"></div>
                                    <div class="line bottoml"></div>
                                    <div class="line rightl"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="signup__column">
                        <div class="signup__box">
                            <div class="outer">
                                <div class="dot"></div>
                                <div class="card">
                                    <div class="ray"></div>
                                    <div class="text">{{result1.2}}</div>
                                    <div>SOCIAL CAUSE</div>
                                    <div class="line topl"></div>
                                    <div class="line leftl"></div>
                                    <div class="line bottoml"></div>
                                    <div class="line rightl"></div>
                                </div>
                            </div>
                        </div>

                        <div class="signup__box">
                            <div class="outer">
                                <div class="dot"></div>
                                <div class="card">
                                    <div class="ray"></div>
                                    <div class="text">{{result1.3}}</div>
                                    <div>COMPETITIVE</div>
                                    <div class="line topl"></div>
                                    <div class="line leftl"></div>
                                    <div class="line bottoml"></div>
                                    <div class="line rightl"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="conclusion">{{result1.4}}</p>
                </div>
                <input type="submit" value="Next" class="insight__button" />
            </form>
        </div>
        <script src="./js/script.js"></script>
    </body>
</html>
